@import "bootstrap-sprockets";
@import "bootstrap";

$font-color: #f5deb3;
$grey: #333333;

body {
  background-color: $grey;
  color: $font-color;
}

header {
  background-image: asset-data-url('header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom: 7px solid;
  border-color: $grey - 20;
  height: 300px;
}

.death {
  text-decoration: line-through;
  color: $grey;

  a {
    color: $grey;
  }
}

.necro-list h1 span {
  font-size: 12px;
}

h1 {
  color: $font-color;
}

.list-group-item {
  margin-bottom: 3px;

  img {
    float: right;
    vertical-align: middle;
    width: 25px;
  }
}
